<div class="row valign-wrapper">
  <div class="col s10">
    <h1>Utilities</h1>
  </div>
  <div class="col s2">
    <%= link_to new_utility_path, class: 'btn-floating btn-large waves-effect waves-light green darken-2', 'data-turbolinks'=> 'false' do %>
      <i class="material-icons">add</i>
    <% end %>
  </div>
</div>

<div class="row">
  <% if @utilities.any? %>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Address</th>
          <th>POC</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <%= render partial: 'utility', collection: @utilities %>
      </tbody>
    </table>
  <% else %>
    <%= render partial: 'admin_contact' %>
  <% end %>
</div>
