<% if @tasks.count.positive? %>
  <h1 id='tasks_exist'>Things you can help with...</h1>
<% else %>
  <h1 id='tasks_empty'>No volunteer tasks at the moment...</h1>
<% end %>
<div class='row' id='public_tasks'>
  <%= render partial: 'public_task', collection: @tasks %>
</div>

<div class="row section center-align z-depth-1 deep-purple darken-4 grey-text text-lighten-3 white-links" id='contact_div'>
  <div class="col s12">
    <p class="big-p">Want to find group opportunities? Have a question?</p>
    <p><%= @org_contact_name %> can help! Just email <%= mail_to @org_contact_email %> or call <%= link_to @org_contact_phone, "tel:#{@org_contact_phone}" %>.</p>
  </div>
</div>
