<% if @tasks.count.positive? %>
  <h1>Things you can help with...</h1>
<% else %>
  <h1>No volunteer tasks at the moment...</h1>
<% end %>
<div class='row' id='public_tasks'>
  <%= render partial: 'public_task', collection: @tasks %>
</div>

<div class="row section center-align z-depth-1 deep-purple darken-4 grey-text text-lighten-3 white-links">
  <div class="col s12">
    <p class="big-p">Want to find group opportunities? Have a question?</p>
    <p><%= Constant::Organization::CONTACT_NAME %> can help! Just email <%= mail_to Constant::Organization::CONTACT_EMAIL %> or call <%= link_to Constant::Organization::CONTACT_PHONE, "tel:#{Constant::Organization::CONTACT_PHONE}" %>.</p>
  </div>
</div>
