%tr
  %td= tasklist.title
  %td.center= human_boolean tasklist.auto_tasks_created
  %td.center= link_to 'Push', '#', class: 'waves-effect waves-light btn tooltipped', data: { position: 'bottom', tooltip: 'Add all auto-tasks to this tasklist' }
