<div class="row valign-wrapper">
  <div class="col s12">
    <% if current_user == @user %>
      <h3>Edit your profile</h3>
    <% else %>
      <h3>Edit <%= @user.name %>'s profile</h3>
    <% end %>
  </div>
</div>

<%= render 'form', user: @user %>
