<% if current_user == @user %>
  <h3>Edit your profile</h3>
<% else %>
  <h3>Edit <%= @user.name %>'s profile</h3>
<% end %>

<%= render 'form', user: @user %>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>
