<div class="row valign-wrapper">
  <div class="col s12">
    <h3>Add New Person</h3>
    <p>This form is specifically for adding volunteers, clients and contractors.</p>
    <p>Staff with '@<%= @org.domain %>' emails should visit this site on their own and click 'STAFF SIGN IN' on the sign in page.</p>
    <p>Staff accounts created through this form won't be able to sync their tasks with Google Tasks.</p>
  </div>
</div>

<%= render 'form', user: @user %>
