<div class="row valign-wrapper">
  <div class="col s12">
    <h3>Add New User</h3>
    <p>This form is specifically for adding volunteers, clients and contractors.</p>
    <p>Staff with a '<%= Rails.application.secrets.org_domain %>' email should visit the site and click 'STAFF SIGN IN' on the sign in page.</p>
  </div>
</div>

<%= render 'form', user: @user %>
