<% if @show_error_view %>
  <div class="row">
    <div class="col s12">
      <h3>The connection with Google Tasks failed</h3>
      <p class="big-p">Don't worry, this happens sometimes.</p>
      <p>Google is very security-conscious, which is a good thing.</p>
    </div>
  </div>
<% end %>

<div class="row section z-depth-1">
  <div class="col s12 center-align">
    <h4>Credential status:</h4>
  </div>
  <div class="col s12 l8 offset-l2">
    <table class="striped">
      <tbody>
        <% @primary_info_hash.each do |k, v| %>
          <%= render partial: 'info_table', locals: { k: k, v: v } %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="row section">
  <div class="col s12">
    <h4>How to reset your credentials:</h4>
  </div>
  <div class="col s12">
    <ol>
      <li>
        Visit <%= link_to 'Your Google Account Permissions page', 'https://myaccount.google.com/permissions', target: '_blank' %>
      </li>
      <li>
        Click on 'PromiseTasks' from the list of Third-party apps with account access
      </li>
      <li>Click the 'Remove Access' button (don't worry, no information will be lost)</li>
      <li><%= link_to "Log out", destroy_user_session_path, method: :delete %> of this site</li>
      <li>Sign into this site again, using the 'Staff Sign In' button</li>
      <li>You'll be asked to allow PromiseTasks to have access to your Google account</li>
      <li>When you click 'Allow', your credentials will be reset</li>
    </ol>
  </div>
  <div class="col s12">
    To revisit this page and see if the process worked, you can visit your profile (link in the sidebar) and click 'Check credentials' at the bottom of the page.
  </div>
</div>

<% @sys_admins = User.admins %>
<% if @sys_admins.any? %>
  <div class="row section center-align z-depth-1 deep-purple darken-4 grey-text text-lighten-3">
    <div class="col s12">
      <p class="big-p center-align">
        If you need more help, please see:
      </p>
      <div class="row">
        <div class="col s12 m6 offset-m3">
          <div class="collection center-align">
            <% @sys_admins.each do |user| %>
              <%= mail_to user.email, user.name, class: 'collection-item btn-flat black-text waves-effect' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
