-# frozen_string_literal: true
.row
  .col.l8.s12.spread-out-on-m
    .row
      %h4.center Auto Tasks
      %p.center When you create a new Tasklist, the Tasks listed below will be automatically added to the top of the list, in the order shown. Tasks will be set as due a certain number of days after they are created.
    .row
      %table#auto_tasks
        %thead
          %tr
            %th Title
            %th Due after
            %th
        %tbody
          = render partial: 'task', collection: @auto_tasks

    .row
      = link_to 'Add', new_auto_task_path, remote: true, class: 'right waves-effect waves-light btn tooltipped modal-trigger', data: { position: 'bottom', tooltip: 'Add a new auto-task' }

  .col.l4.s12.spread-out-on-m
    .row
      %h4.center Your Tasklists
      %p.center Click "Push" to add all Auto Tasks to the Tasklist
    .row
      %table#tasklists
        %thead
          %tr
            %th Title
            %th.center Auto-tasked?
            %th
        %tbody
          = render partial: 'tasklist', collection: @tasklists

= render partial: 'modal', locals: { task: @new_task }
