<div id="private_explanation" class="modal">
  <div class="modal-content">
    <h4>Private Properties:</h4>
    <p>Private properties are not visible to others by default.</p>
    <p>The property will still be visible to:</p>
    <ul>
      <li>
        The creator of the property
      </li>
      <li>
        Any users who are assigned tasks associated with the property
      </li>
    </ul>
    <p>The visibilty of tasks will override the privacy of the property.</p>
    <p>Properties created in Google Tasks are private by default.</p>
  </div>
</div>

<div id="budget_warning_explanation" class="modal">
  <div class="modal-content">
    <h4>Ignoring Budget Warnings:</h4>
    <p>By default, properties that are nearing or past their budget create an alert that is visible to any staff that can view the property.</p>
    <p>Staff will be notified via the alert box if:</p>
    <ul>
      <li>
        The budget remaining is less than $500
      </li>
      <li>
        The budget is over-spent.
      </li>
    </ul>
    <p>Ignoring budget warnings dismisses budget-related alerts, but it will not prevent the budget status from appering on reports.</p>
  </div>
</div>
