<div class="row">
  <div class="col">
    <p>Some cool reports will go here. Once I know what they should look like.</p>
  </div>
</div>

<% if true%>
  <%= render partial: 'sys_admin_contact' %>
<% end %>
