<div class="row">
  <div class="col s12">
    <h2>Report</h2>
  </div>
</div>

<div class="row center-align">
  Show:
  <div class="switch">
    <label>
      Active only
      <input type="checkbox" id="scope_switch" <%= 'checked="checked"' if @include_archived %>>
      <span class="lever"></span>
      Include archived
    </label>
  </div>
</div>

<table id='dttb-report'>
  <thead>
    <tr>
      <th>Property</th>
      <th>Acquired Date</th>
      <th>Completion Date</th>
      <th>Stage</th>
      <th>Status</th>
      <th>Purchase cost</th>
      <th>Rent payments</th>
      <th>Utility payments</th>
      <th>Total cost</th>
      <th>Budget remaining</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: 'property_row', collection: @properties %>
  </tbody>
</table>
