<div class="row">
  <div class="col s12">
    <h2>Report</h2>
  </div>
</div>

<div class="row center-align">
  Show:
  <div class="switch">
    <label>
      Active only
      <input type="checkbox" id="scope_switch" <%= 'checked="checked"' if @include_archived %>>
      <span class="lever"></span>
      Include archived
    </label>
  </div>
</div>

<table id='dttb-report'>
  <thead>
    <tr>
      <th>Property</th>
      <th>Acquired Date</th>
      <th>Completion Date (expected vs. actual)</th>
      <th>Status</th>
      <th>Stage</th>
      <th>Utilities</th>
      <th>Cost to date</th>
      <th>Description</th>
      <th>Tasks</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>THIS SHOULD BE A PARTIAL</td>
      <td><%= Date.today %></td>
      <td><%= Date.today + 1.day %></td>
      <td>Status</td>
      <td>Stage</td>
      <td>Property.utilities</td>
      <td><%= Money.new(5) %></td>
      <td>Description</td>
      <td>Link to tasks</td>
    </tr>
  </tbody>
</table>
