<li class='collection-item red lighten-3 waves-effect waves-light'>
  <span class='red-text'>Past-due tasks</span>
</li>
<li class='collection-item red lighten-3'>
  <span class='red-text'>Properties over budget</span>
</li>
<li class='collection-item orange lighten-3'>
  <span class='orange-text'>Properties nearing budget</span>
</li>
<li class='collection-item amber lighten-3'>
  <span class='amber-text text-darken-2'>Tasks due this week</span>
</li>
<li class='collection-item yellow lighten-3'>
  <span class='yellow-text text-darken-2'>Tasks missing info</span>
</li>
<li class='collection-item green lighten-3'>
  <span class='green-text'>Tasks due next week</span>
</li>
<li class='collection-item green lighten-4'>
  <span class='green-text'>Newly assigned tasks</span>
</li>

