<div class="row valign-wrapper">
  <div class="col s10">
    <h2>Payments</h2>
  </div>
  <div class="col s2">
    <%= link_to new_payment_path, class: 'btn-floating btn-large waves-effect waves-light green darken-2' do %>
      <i class="material-icons">add</i>
    <% end %>
  </div>
</div>
