<input type="hidden" value="0" name="user[program_staff]">
<input type="hidden" value="0" name="user[project_staff]">
<input type="hidden" value="0" name="user[admin_staff]">

<div class="row">
  <div class="col m4">
    <p>
      <label>
        <input type="checkbox" value="1" name="user[program_staff]" <%= 'checked' if @user.program_staff? %>>
        <span>Program Staff</span>
      </label>
    </p>
  </div>
  <div class="col m4">
    <p>
      <label>
        <input type="checkbox" value="1" name="user[project_staff]" <%= 'checked' if @user.project_staff? %>>
        <span>Project Staff</span>
      </label>
    </p>
  </div>
  <div class="col m4">
    <p>
      <label>
        <input type="checkbox" value="1" name="user[admin_staff]" <%= 'checked' if @user.admin_staff? %>>
        <span>Admin Staff</span>
      </label>
    </p>
  </div>
</div>
