#custom_nav {
  border-bottom: 1px solid rgb(218,218,218);

  .nav-logo {
    // max-height: 75px;
    width: 100%;
  }

  .nav {
    .nav-title {
      font-size: 1em;
      font-weight: bold;
      float: left;
      color: rgb(119,119,119);
    }
    li {
      padding-top: 25px;
      float: right;
    }
  }
}
