// Task#index
// User#tasks
// Property#show

// Tab scrolling fails on large screens. This seems to fix it:
.tabs {
  display: flex;
}

// Tab coloring:
.tabs .tab a {
  color: #2196f3;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;

  &.active, &:focus, &:focus.active {
    color: #2196f3;
    background-color: #e3f2fd;
    outline: none;
  }

  &:hover {
    color: #1976d2;
    background-color: #90caf9;
  }
}
