$red:           rgba(194,18,24,1.0);
$light-red:     rgba(213,14,17,1.0);
$blue:          rgba(39,145,205,1.0);
$light-blue:    rgba(131,184,217,1.0);
$yellow:        rgba(230,174,4,1.0);
$light-yellow:  rgba(233,191,4,1.0);
$beige-yellow:  rgba(251,245,219,1.0);
