<div class="fixed-action-btn">
  <a class="btn-floating btn-large red z-depth-3">
    <i class="large material-icons">add</i>
  </a>
  <ul>
    <li>
      <%= link_to '<i class="material-icons">check_circle_outline</i>'.html_safe, new_task_path, class: 'btn-floating light-blue lighten-1'  %>
    </li>

    <li>
      <%= link_to '<i class="material-icons">home</i>'.html_safe, new_property_path, class: 'btn-floating yellow accent-4'  %>
    </li>

    <% if current_user.system_admin? %>
      <li>
        <%= link_to '<i class="material-icons">people</i>'.html_safe, new_user_path, class: 'btn-floating green darken-1'  %>
      </li>

      <li>
        <%= link_to '<i class="material-icons">build</i>'.html_safe, new_skill_path, class: 'btn-floating purple darken-1'  %>
      </li>
    <% end %>
  </ul>
</div>
