<nav class="light-blue lighten-1">
  <div class="nav-wrapper container">
    <% if current_user %>
      <a href="#" id="sidenav" data-target="slide-out" class="button-collapse sidenav-trigger show-on-large prevent_default">
        <i class="material-icons right">menu</i>
      </a>
      <a href="/properties" id="logo-container" class="brand-logo hide-on-small-only">
        <span>PromiseTasks</span>
      </a>
    <% else %>
      <a href="/" id="logo-container" class="brand-logo hide-on-small-only">
        <span>PromiseTasks</span>
      </a>
    <% end %>


    <ul class="right valign-wrapper" id="nav-mobile">
      <% if current_user %>
        <li>
          <a href="#" id='alert_btn' class="btn-floating lighten-2 prevent_default dropdown-trigger" data-target='context_alerts'>
            <i class="material-icons">notification_important</i>
          </a>
        </li>

        <% if current_user.oauth? %>
          <li>
            <%= link_to api_sync_user_path(current_user), method: :get, id: 'refresh_button', class: "tooltipped #{@just_signed_in}", 'data-position' => 'bottom', 'data-tooltip' => 'Sync Google Tasks' do %>
              <i class="material-icons">refresh</i>
            <% end %>
          </li>
        <% end %>
      <% end %>

      <li>
        <% if current_user %>
          <%= link_to destroy_user_session_path, method: :delete, class: 'tooltipped', 'data-position' => 'bottom', 'data-tooltip' => 'Sign out', id: 'logout' do %>
            <i class="material-icons">exit_to_app</i>
          <% end %>
        <% else %>
          <%= link_to new_user_session_path, class: 'tooltipped', 'data-position' => 'bottom', 'data-tooltip' => 'Sign in', id: 'login' do %>
            <i class="material-icons">lock_open</i>
          <% end %>
        <% end %>
      </li>
    </ul>
  </div>
</nav>


