<header class="navbar-fixed">
  <nav class="light-blue lighten-1">
    <div class="nav-wrapper container">
      <a href="#" id="sidenav" data-target="slide-out" class="button-collapse sidenav-trigger show-on-large">
        <i class="material-icons right">menu</i>
      </a>
      <a href="/lists" id="logo-container" class="brand-logo">
        <span>PromiseTasks</span>
      </a>

      <ul class="right" id="nav-mobile">
        <li>
          <a href="#">
            <i class="material-icons">notification_important</i>
          </a>
        </li>

        <li>
          <%= link_to '<i class="material-icons">refresh</i>'.html_safe, api_sync_user_path(current_user), method: :get, id: 'refresh_button'  %>
        </li>

        <li>
          <a href="#">
            <i class="material-icons">exit_to_app</i>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</header>
