<div id="sync_box">
  <div id="sync_bar_indeterminate" class="progress">
    <div class="indeterminate"></div>
  </div>

  <div id="sync_bar_determinate" class="progress">
    <div class="determinate" style="width: 1%"></div>
  </div>

  <p id="status" class="center-align"></p>
  <input type="text" id="job_id" value="<%= @job_id %>">
</div>
