<ul id="slide-out" class="sidenav">
  <li>
    <div class="user-view">
      <div class="background">
        <%= image_tag "grass-bg.jpg" %>
      </div>
        <%= link_to image_tag(current_user.oauth_image_link, class: "circle"), user_path(current_user)  %>
        <a href="#">
          <span class="white-text name">User Name</span>
        </a>
        <a href="#">
          <span class="white-text email">email@digital.computer</span>
        </a>
    </div>
  </li>
  <li><div class="divider"></div></li>
  <li class="no-padding">
    <ul class="collapsible collapsible-accordion">
      <li>
        <a href="#">
          Profile
        </a>
      </li>
    </ul>
  </li>

  <li>
    <a href="#">
      <i class="material-icons">format_list_bulleted</i>
      <span>Summary</span>
    </a>
  </li>

  <li>
    <a href="#">
      <i class="material-icons">home</i>
      <span>Properties</span>
    </a>
  </li>

  <li>
    <a href="#">
      <i class="material-icons">check_circle_outline</i>
      <span>Tasks</span>
    </a>
  </li>

  <li>
    <a href="#">
      <i class="material-icons">people</i>
      <span>People</span>
    </a>
  </li>

  <li>
    <a href="#">
      <i class="material-icons">build</i>
      <span>Skills</span>
    </a>
  </li>

  <li>
    <a href="#">
      <i class="material-icons">table_chart</i>
      <span>Reports</span>
    </a>
  </li>

</ul>
